@keyframes Scaleup {
    animation {
        
    }
}

body {
    background-color: aquamarine;
    font-family: "Noto Sans Thai", sans-serif;
    text-align: center;
    font-weight: bold;
    
}
button {
    background-color: purple;
    color: white;
}
.container {
    background-color: white;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    border: 1px solid palevioletred;
    border-radius: 10px;

    img {
        width: 60px;
        height: auto;
    }
}

#kamkom {
    display: none;
}

img {
    display: none;
}

